@font-face{
  font-family:'NanumBarunGothic';
  src:url("/resources/bootstrap/fonts/NanumBarunGothic.eot");
  src:local(""),url("/resources/bootstrap/fonts/NanumBarunGothic.woff") format("woff");
}
body { font-family: "NanumBarunGothic",  sans-serif; padding-top: 100px }
html, body { height: 100% }  
.container-fluid { min-height: 100%; padding: 0 }
.container { padding-bottom: 60px }
.navbar{ background-color: #fff; border: none; padding-bottom: 10px;  font-family: "NanumBarunGothic",  sans-serif; font-weight: 300; font-size: 18px;height: 100px; text-transform: capitalize; border-bottom: 1px solid #AAAAAA }
.navbar-toggle { position: relative;margin-top: 40px;top: 2px }
.navbar-nav { padding-right: 10px;margin-top: 20px; background-color: #fff }
.navbar-nav li { margin:0 20px }
.navbar-brand { padding-left: 20px }  
.navbar-collapse { padding-top: 10px; background-color: #fff }
.navbar-default .navbar-nav>li>a:hover { color: #FF8000 } 
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a:focus { color: #FF8000; background-color: #fff }

input[type="text"], .form-group select { border-radius: 0px }
.btn { border-radius: 0px }
.div-pagination>.pagination>li>a {
	border-radius: 0px;
}
.footer { height: 60px; padding: 20px 15px; margin-top: -60px; background-color: #F1F1F1; text-align: right; color: #777 }
.list-group-item>a { color: inherit }
.panel {
	border-radius: 0px;
}
.red {
	color: #ff0000;
}
/*
 * Colored-Modal Heading
 * ---------------------
 */
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.picture-attachments {
	list-style: none;
	margin-bottom: 20px;
	padding: 0;
}
.picture-attachments li {
	float: left;
	width: 200px;
	border: 1px solid #eee;
	margin-botton: 10px;
	margin-right: 10px;
}

.picture-attachment-icon,
.picture-attachment-info {
	display: block;
}

.picture-attachment-icon {
	text-align: center;
	font-size: 65px;
	color: #666;
	padding: 20px 10px;
}

.picture-attachment-info {
	padding: 10px;
	background: #f4f4f4;
}

.picture-attachment-icon.has-img {
	padding: 0;
}

.picture-attachment-icon.has-img>img {
	max-width: 100%;
	height: auto;
}

.picture-attachment-name {
	font-weight: bold;
	color: #666;
}

/*
 * Component: Box
 * --------------
 */
.box {
	border-radius: 0px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.box.box-primary {
	border-top-color: #3c8dbc;
}

.box.box-info {
	border-top-color: #00c0ef;
}

.box.box-danger {
	border-top-color: #dd4b39;
}

.box.box-warning {
	border-top-color: #f39c12;
}

.box.box-success {
	border-top-color: #00a65a;
}

.box.box-default {
	border-top-color: #d2d6de;
}

.box-header:before, 
.box-body:before, 
.box-footer:before, 
.box-header:after,
.box-body:after, 
.box-footer:after {
	content: " ";
	display: table;
}

.box-header:after, 
.box-body:after, 
.box-footer:after {
	clear: both;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-body {
	border-radius: 0px;
	padding: 10px;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #ffffff;
}