<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hyucs.academic.mapper.CoursesMapper">
	<select id="listAll" resultType="CoursesVO">
		SELECT c.lcode, c.lname, c.hours, c.room, c.instructor, c.capacity, c.persons, p.pname
		FROM tbl_courses c
		JOIN tbl_professors p ON c.instructor=p.pcode
	</select>
	
	<select id="listByStudent" resultType="CoursesVO">
		SELECT c.lcode, c.lname, c.hours, c.room, c.instructor, c.capacity, c.persons, p.pname
		FROM tbl_courses c
		JOIN tbl_professors p ON c.instructor=p.pcode
		JOIN tbl_enrollments e ON c.lcode=e.lcode
		WHERE e.scode=#{scode}
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_courses
		VALUES(#{lcode}, #{lname}, #{hours}, #{room}, #{instructor}, #{capacity}, #{persons})
	</insert>
	
	<select id="read" resultType="CoursesVO">
		SELECT c.lcode, c.lname, c.hours, c.room, c.instructor, c.capacity, c.persons, p.pname
		FROM tbl_courses c
		JOIN tbl_professors p ON c.instructor=p.pcode
		WHERE c.lcode=#{lcode}
	</select>
	
	<select id="countByProf" resultType="int">
		SELECT COUNT(lcode)
		FROM tbl_courses
		WHERE instructor=#{instructor}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_courses
		WHERE lcode=#{lcode}
	</delete>
	
	<update id="update">
		UPDATE tbl_courses
		SET lname=#{lname}, hours=#{hours}, room=#{room}, instructor=#{instructor}, capacity=#{capacity}
		WHERE lcode=#{lcode}
	</update>
	
	<update id="updatePersons">
		UPDATE tbl_courses
		SET persons=persons+#{amount}
		WHERE lcode=#{lcode} 
	</update>
	
	<select id="listSearch" resultType="CoursesVO">
		SELECT c.lcode, c.lname, c.hours, c.room, c.instructor, c.capacity, c.persons, p.pname
		FROM tbl_courses c
		JOIN tbl_professors p ON c.instructor=p.pcode
		
		<include refid="search"></include>
		
		ORDER BY lcode DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
   	
	<select id="listSearchCount" resultType="int">
		SELECT COUNT(lcode)
		FROM tbl_courses c
		JOIN tbl_professors p ON c.instructor=p.pcode
		
		<include refid="search"></include>
	</select>
	
	<select id="listByProf" resultType="CoursesVO">
		SELECT *
		FROM tbl_courses
		WHERE instructor=#{pcode}
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'c'.toString()">
				WHERE lcode like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n'.toString()">
				WHERE lname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'i'.toString()">
				WHERE p.pname like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
</mapper>