<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hyucs.academic.mapper.DepartmentsMapper">
	<select id="listAll" resultType="DepartmentsVO">
		SELECT *
		FROM tbl_department
		ORDER BY dcode DESC
	</select>
	
	<select id="listByCollege" resultType="DepartmentsVO">
		SELECT *
		FROM tbl_department
		WHERE college=#{college}
	</select>
</mapper>