<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hyucs.academic.mapper.professorsMapper">	
	<select id="listAll" resultType="ProfessorsVO">
		SELECT *
		FROM tbl_professors
		ORDER BY pcode
	</select>
	
	<select id="listByDepartment" resultType="ProfessorsVO">
		SELECT *
		FROM tbl_professors
		WHERE dept=#{dept}
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_professors
		VALUES(#{pcode}, #{pname}, #{dept}, #{hireDate}, #{title}, #{email}, #{mobile}, #{salary})
	</insert>
	
	<insert id="addPicture">
		INSERT INTO tbl_prof_attach(picture, pcode)
		VALUES(#{picture}, #{pcode})
	</insert>
	
	<select id="read" resultType="ProfessorsVO">
		SELECT p.*, pa.picture
		FROM tbl_professors p
		LEFT JOIN tbl_prof_attach pa ON p.pcode=pa.pcode
		WHERE p.pcode=#{pcode}
	</select>
	
	<select id="getPicture" resultType="String">
		SELECT picture
		FROM tbl_prof_attach
		WHERE pcode=#{pcode}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_professors
		WHERE pcode=#{pcode}
	</delete>
	
	<delete id="deletePicByPcode">
		DELETE FROM tbl_prof_attach
		WHERE pcode=#{pcode}
	</delete>
	
	<delete id="deletePicByFilename">
		DELETE FROM tbl_prof_attach
		WHERE picture=#{fileName}
	</delete>
	
	<update id="update">
		UPDATE tbl_professors
		SET pname=#{pname}, dept=#{dept}, hireDate=#{hireDate}, title=#{title}, email=#{email}, mobile=#{mobile}, salary=#{salary}
		WHERE pcode=#{pcode} 
	</update>
	
	<select id="listSearch" resultType="ProfessorsVO">
		SELECT *
		FROM tbl_professors
		
		<include refid="search"></include>
		
		ORDER BY pcode DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
   	
	<select id="listSearchCount" resultType="int">
		SELECT COUNT(pcode)
		FROM tbl_professors
		
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'c'.toString()">
				WHERE pcode like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n'.toString()">
				WHERE pname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'd'.toString()">
				WHERE dept like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
</mapper>